*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{ /*div img pega todas as imagens*/ /*essa função é para a imagem se ajustar a tela*/
    display: block;
    width: 100%;
}

.flex-container{ /*o flex container tá centralizando os itens no site (colocando uns dois dedos pro centro)*/
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
   /* background-color: grey; habilita essa função para visualizar o container*/
}

header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center; /* está alinhando os itens no centro do quadrado azul (vertical)*/
    color: #fff; /*cor da letra*/
}

header .list-items{ /*pega toda a classe item, diferente do li a que só pega um objeto em especifico*/
    display: flex;
    /*flex-direction: column;*/ /*para testar como ficava em colunas*/
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center; /*centralizar (vertical)*/
   
}

.list-items li a{
    color: white; /* list item tá pegando só as letras do header marcadas com o <a> (classe idependente do header, só está sendo usada lá)*/
    
}

header .menu{
    justify-content: space-between; /* ele tá deixando todos os items do header 
    separados entre si, abrir aquivo no firebox para ver*/
}
/**********************************************************************************************************************/
.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao h1 { /*mesma coisa do li a acima, só pega o h1 da classe*/
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{ /*tá mexendo no botão do "saiba mais"*/
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px; /*angulo da borda*/
    width: 210px; /*largura tamanho do azul*/
    height: 50px; /*altura do azul*/
    display: block;
    text-decoration: none; /*para retirar o sublinhamento*/
    line-height: 50px; /*altura do texto*/
    margin-top: 10px; /* espaçamento de baixo e item de cima do azul*/
    margin-bottom: 10px;
}


.apresentacao .texto-apresentacao{
    min-height: 200px;
    width: 100%;
}

#quem-somos{ /*todo o bloco, tanto texto como imagem*/
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between; 
    margin-left: 160px;
}

#quem-somos h2{
    font-size: 40px;
    color: #122a57;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

#quem-somos p{ /*para colocar espaçãmento entre os paragrafos*/
  margin-bottom: 10px;
  width: 90%;
}

#quem-somos h2::before{ /*esse :: é para criar um objeto antes ou depois do texto*/
    content: ""; /*tá vario, só para não ter letras*/
    height: 50px;
    width: 10px;
    border-radius: 6px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos img{
    min-width: 420px;
}
/**********************************************************************************************************************/
.container-externo{
    width: 100%;
    background-color:#122a57;
}

#servicos {
    padding-top: 50px;
   flex-direction: column;
   padding-bottom: 100px;
   
}

.list-servicos {
    padding-top: 50px;
    justify-content: space-between;
    display: flex;
 
}

.list-servicos .item-servicos{
    text-align: center;
    
}

.item-servicos a{
    width: 130px;
    background-color: #fff;
    border-radius: 30px;
    height: 30px;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
    padding: 7px 10px;
    display: flex;
    color:#122a57;
    text-decoration: none;
    font-size: 18px;
}

.item-servicos p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.roteiros{
    margin-top: -10px;
}

.item servico img {
    width: 80%
    margin: auto;
}

#servicos h2 {
    color: #fff;
    font-size: 42px;
    margin-top: 10px;
}

/* ******************************************************************** */

#planos{
 flex-direction: column;
 min-height: 100vh;
 margin-top: 50px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-planos{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-planos .btn{
    margin: auto;
    margin-bottom: 20px
}

.item-planos h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-planos h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-planos ul {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

.item-planos ul li{
    display: flex;
    flex-wrap: nowrap;
    
    padding: 3px;
    font-size: medium;
}

.item-planos ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}


/* ********************************************* */

footer{
    background-color: #122a57;
    height: 70px;
   display: flex;
   align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: #fff;
}
 
/* mobile */

@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servicos img {
        width: 50%;
        margin: auto;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
    }

    .list-planos .item-planos{
        max-width: 90%;
        margin: auto;
        width: 100%;
    }

    .item-servicos a {
        margin-left: 38%;
    }
}